body
  background: #f1f1f1
  line-height: 1.4
  font-size: $fz
  min-width: 320px
  font-family: 'proximanova', Arial, sans-serif
  color: $c-text
  +no-scroll
  overflow-x: hidden
  // overflow: hidden

.icon
  display: inline-block
  fill: currentColor
  font-size: inherit

.lazy
  &.is-loaded:not(.no-animation)
    animation: fadeIn 1s

.out
  position: relative
  z-index: 1


.canvas-bg
  position: fixed
  width: 100%
  height: 100%
  left: 0
  top: 0
  // overflow: hidden
  z-index: 0
  canvas
    // +vcenter
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%

.canvas-grid
  position: relative
  padding-top: 30%
  max-width: 500px
  canvas
    +coverdiv

.content
  transform-origin: top center

.nav
  padding-top: 20px
  padding-bottom: 20px
  text-align: center
  li
    display: inline-block
    margin-right: 10px
    margin-left: 10px
    text-transform: uppercase
  a
    +hover
      text-decoration: underline

.header
  position: fixed
  top: 0
  left: 0
  right: 0
  z-index: 10
  height: 60px
  &.is-white
    color: $white


.overlay
  position: fixed
  top: 0
  bottom: 0
  left: 0
  right: 0
  z-index: 10
  visibility: hidden
  opacity: 0
  background-color: $black
  // transform: translate(-100%, 0)
  // +tr(transform .3s)

.slider
  &__wrap
    position: relative
    *
      box-sizing: border-box

.slide
  height: 200px
  +flex(center, center)
  background-color: #cccccc

.products
  display: grid
  grid-gap: 10px
  grid-template-columns: 1fr 1fr
.product
  display: block
  padding-top: 50%
  +cover
  position: relative
  +before
    +coverdiv
    z-index: 0
    background-color: rgba($black, .4)
  &__title
    color: $white
    +vcenter
    width: 100%
    text-transform: uppercase
    text-align: center
    z-index: 1

.hero
  height: 100vh
  padding-top: 60px
  position: relative
  +flex(center, center)
  +cover
  +before
    +coverdiv
    z-index: 0
    background-color: rgba($black, .4)
  h1
    color: $white
    text-transform: uppercase
    font-size: 6vw
    position: relative
    z-index: 1
  &--simple
    display: block
    height: auto
    h1
      color: inherit
    +before
      display: none

.section
  min-height: 100vh
  padding: 10%
  color: $white
  background-color: orange
  p
    max-width: 300px
    text-align: justify

.cover-image
  +cover
  position: fixed
  z-index: 0
  top: 0
  bottom: 0
  right: 0
  left: 0
  z-index: 20
  transform-origin: 0 0
  +before
    +coverdiv
    z-index: 0
    background-color: rgba($black, .4)
  &.is-animate
    +tr(transform 1s)

.btn
  display: inline-block
  background-color: $black
  color: $white
  padding: .5em
  text-align: center
  min-width: 200px
  text-transform: uppercase

.popup
  position: fixed
  top: 0
  bottom: 0
  left: 0
  right: 0
  z-index: 20
  background-color: rgba($black, .7)
  padding: 15px
  overflow: auto
  +vertical
  visibility: hidden
  opacity: 0
  &.is-active
    visibility: visible
    opacity: 1
  &__inner
    display: inline-block
    vertical-align: middle
    background-color: $white
    width: 100%
    max-width: 450px
    font-size: $fz
    padding: 50px
    position: relative
  &__close
    +icon-close(20, 1, currentColor)
    position: absolute
    top: 15px
    right: 15px
    z-index: 1


    
    