---
title: Index page
---
{% extends "layouts/_layout.html" %}

{% block content %}
{#   <select name="" id="" class="js-select" data-type="search" multiple="">
    <option value="1">111111</option>
    <option value="2">2222</option>
    <option value="3">333</option>
    <option value="3">333</option>
    <option value="3">333</option>
    <option value="3">333</option>
    <option value="3">333</option>
    <option value="3">333</option>
    <option value="3">333</option>
    <option value="3">333</option>
    <option value="3">333</option>
    <option value="3">333</option>
    <option value="3">333</option>
    <option value="3">333</option>
    <option value="3">333</option>
    <option value="3">333</option>
    <option value="3">333</option>
    <option value="3">333</option>
  </select> #}

  <select name="" id="" class="js-select" data-type="default">
    <option value="1" data-color="#ccc" data-something="bla">111111</option>
    <option value="2">2222</option>
    <option value="3">333</option>
    <option value="3">333</option>
    <option value="3">333</option>
    <option value="3">333</option>
    <option value="3">333</option>
    <option value="3">333</option>
    <option value="3">333</option>
    <option value="3">333</option>
    <option value="3">333</option>
    <option value="3">333</option>
    <option value="3">333</option>
    <option value="3">333</option>
    <option value="3">333</option>
    <option value="3">333</option>
    <option value="3">333</option>
    <option value="3">333</option>
  </select>

  <select name="" id="" class="js-select" data-type="search">
    <optgroup label="blblb">
      <option value="1">111111</option>
      <option value="2">2222</option>
      <option value="3">333</option>
      <option value="3">333</option>
      <option value="3">333</option>
      <option value="3">333</option>
      <option value="3">333</option>
    </optgroup>
    <optgroup label="blblb2">
      <option value="3">333</option>
      <option value="3">333</option>
      <option value="3">333</option>
      <option value="3">333</option>
      <option value="3">333</option>
      <option value="3">333</option>
    </optgroup>
    <optgroup label="blblb3">
      <option value="3">333</option>
      <option value="3">333</option>
      <option value="3">333</option>
      <option value="3">333</option>
      <option value="3">333</option>
    </optgroup>   
  </select>

  <select name="" id="" class="js-select" data-type="default">
    <optgroup label="blblb" data-type="group" data-name="scnd_name">
      <option value="1" data-bla="bla" data-bla-2="blbllalabllab">111111</option>
      <option value="2">2222</option>
      <option value="3">333</option>
      <option value="3">333</option>
      <option value="3">333</option>
      <option value="3">333</option>
      <option value="3">333</option>
    </optgroup>
    <optgroup label="blblb2">
      <option value="3">333</option>
      <option value="3">333</option>
      <option value="3">333</option>
      <option value="3">333</option>
      <option value="3">333</option>
      <option value="3">333</option>
    </optgroup>
    <optgroup label="blblb3">
      <option value="3">333</option>
      <option value="3">333</option>
      <option value="3">333</option>
      <option value="3">333</option>
      <option value="3">333</option>
    </optgroup>   
  </select>

  {# {% include "partials/_sections.html" %}

  <a href="#" class="toggle js-burger" data-burger-target="menu">toggle</a>

  <!-- begin menu -->
  <div class="menu js-menu" data-burger="menu">
    menu
  </div>
  <!-- end menu --> #}
  
{% endblock %}
