---
title: product-01
page: product-01
outClass: ''
headerClassMod: 'is-white'
---
{% extends "layouts/_layout.html" %}

{% block content %}
<!-- begin hero -->
<section class="hero js-lazy" data-background-image="https://source.unsplash.com/Bs-zngH79Ds/1920x800">
  <h1>hello from product-1 page</h1>
</section>
<!-- end hero -->

<!-- begin section -->
<section class="section">
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima numquam ipsa molestias, fugit dolor accusantium fugiat similique nihil sint voluptates nesciunt molestiae non asperiores nostrum beatae, saepe enim natus explicabo?</p>
</section>
<!-- end section -->
  
{% endblock %}