<!-- begin sections -->
<div class="sections js-sections">
  <section class="section js-section">
    <div class="section__title">section 1</div>
    <div class="section__text js-anim-el" data-anim-name="fadeIn" data-anim-delay="0.3s" data-anim-duration="1s" data-anim-iterations="2">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda debitis, iste quo ad accusantium distinctio aut provident earum reprehenderit voluptatem tenetur ipsum porro itaque laborum, iure deserunt ipsam alias maiores!</p>
    </div>
  </section>

  <section class="section js-section">
    <div class="section__title">section 2</div>
    <div class="section__text js-anim-el" data-anim-name="fadeInDown" data-anim-delay="0.3s" data-anim-duration="1s">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda debitis, iste quo ad accusantium distinctio aut provident earum reprehenderit voluptatem tenetur ipsum porro itaque laborum, iure deserunt ipsam alias maiores!</p>
    </div>
  </section>

  <section class="section js-section">
    <div class="section__title">section 3</div>
    <div class="section__text js-anim-el" data-anim-name="bounceIn" data-anim-delay="0.2s" data-anim-duration="1s">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda debitis, iste quo ad accusantium distinctio aut provident earum reprehenderit voluptatem tenetur ipsum porro itaque laborum, iure deserunt ipsam alias maiores!</p>
    </div>
  </section>

  <section class="section js-section">
    <div class="section__title">section 4</div>
    <div class="section__text js-anim-el" data-anim-name="rollIn" data-anim-delay="" data-anim-duration="1s">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda debitis, iste quo ad accusantium distinctio aut provident earum reprehenderit voluptatem tenetur ipsum porro itaque laborum, iure deserunt ipsam alias maiores!</p>
    </div>
  </section>
</div>
<!-- end sections -->

<!-- START overlay -->
<div class="overlay js-overlay"></div>
<!-- END overlay -->

<!-- START pagination -->
<nav class="pagination js-pagination"></nav>
<!-- END pagination -->