{% macro list(name, descr, modifications, list, isInline) %}
{% if descr %}
  <!-- begin {{ name }} -->
  {% if isInline %}
  <span class="{{ name }}{% if modifications.wrap %} {{ modifications.wrap }}{% endif %}">
  {% else %}
  <div class="{{ name }}{% if modifications.wrap %} {{ modifications.wrap }}{% endif %}">
  {% endif %}
    <dl {% if modifications.list %}class="{{ modifications.list }}"{% endif %}>
      {% for i in list %}
      <dt {% if modifications.dt or i.modItemDt %}class="{{ modifications.dt }} {{ i.modItemDt }}"{% endif %}>{% if i.dt %}{{ i.dt | safe }}{% endif %}{% if i.link %}<a href="{% if i.href %}{{ i.href }}{% else %}#{% endif %}" {% if modifications.link or i.modLink %}class="{{ modifications.link }} {{ i.modLink }}"{% endif %}>{{ i.link | safe }}</a>{% endif %}</dt>
      <dd {% if modifications.dd or i.modItemDl %}class="{{ modifications.dd }} {{ i.modItemDl }}"{% endif %}>{% if i.dd %}{{ i.dd | safe }}{% endif %}{% if i.link %}<a href="{% if i.href %}{{ i.href }}{% else %}#{% endif %}" {% if modifications.link or i.modLink %}class="{{ modifications.link }} {{ i.modLink }}"{% endif %}>{{ i.link | safe }}</a>{% endif %}</dd>
      {% endfor %}
    </dl>
  {% if isInline %}
  </span>
  {% else %}
  </div>
  {% endif %}
  <!-- end {{ name }} -->

{% else %}

  <!-- begin {{ name }} -->
  {% if name === 'nav' %}
  <nav class="{{ name }}{% if modifications.wrap %} {{ modifications.wrap }}{% endif %}">
  {% elseif isInline %}
  <span class="{{ name }}{% if modifications.wrap %} {{ modifications.wrap }}{% endif %}">
  {% else %}
  <div class="{{ name }}{% if modifications.wrap %} {{ modifications.wrap }}{% endif %}">
  {% endif %}
    <ul {% if modifications.list %}class="{{ modifications.list }}"{% endif %}>
      {% for i in list %}
      <li {% if modifications.item or i.modItem %}class="{{ modifications.item }} {{ i.modItem }}"{% endif %} {% for attr, attr_value in i.itemAttributes %} {{ attr }}="{{ attr_value }}" {% endfor %}>{% if i.item %}{{ i.item | safe }}{% endif %}{% if i.link %}<a href="{% if i.href %}{{ i.href }}{% else %}#{% endif %}" {% if modifications.link or i.modLink %}class="{{ modifications.link }} {{ i.modLink }}"{% endif %} {% for attr, attr_value in i.linkAttributes %} {{ attr }}="{{ attr_value }}" {% endfor %}>{{ i.link | safe }}</a>{% endif %}</li>
      {% endfor %}
    </ul>
  {% if name === 'nav' %}
  </nav>  
  {% elseif isInline %}
  </span>
  {% else %}
  </div>
  {% endif %}
  <!-- end {{ name }} -->
{% endif %}
{% endmacro %}